body {
  background-image: url("crossword.png");
}

.byLine {
  margin: 5px;
  font-style: italic;
  background-color: RGBa(30, 30, 30, 0.15);
  border-radius: 20px;
}

.charityCard {
  outline: solid;
  outline-width: thin;
  outline-color: RGBa(30, 30, 30, 0.3);
  margin: 5px;
  background-color: white;
}

.cardHeadline {
  font-size: 1.5em;
}

.cardByline {
  float: right;
  margin-top: 5px;
  margin-right: 5px;
  border: hidden;
  border-color: RGBa(30, 30, 30, 0.3);
  border-radius: 15%;
  background-color: RGBa(30, 30, 30, 0.15);
}

.cardDescription {
  text-align: left;
}

.cardImage {
  float: left;
  max-height: 36px;
  max-width: 36px;
  padding-top: 2px;
  padding-left: 2px;
}

.categoryTitle {
  font-size: 2em;
  text-align: center;
}

.searchCardImage {
  float: left;
  max-height: 50px;
  max-width: 50px;
  margin-top: 15px;
  margin-left: 7px;
}

.fullCardImage {
  max-height: 50px;
  align: left;
}

.sideContainer {
  background-color: RGBa(25, 150, 20, 0.3);
  padding-bottom: 1em;
}
